<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lifecut">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Life4Cut"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://@iuwios"/>

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent.lightStatus.upload" />

        <activity android:name=".ShowArchiveActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ActivityChangeNick"
            android:screenOrientation="portrait"/>

        <activity android:name=".ShowInformationActivity"
            android:screenOrientation="portrait"/>

        <uses-library android:name="org.apache.http.legacy" android:required="false" />
    </application>

</manifest>